<div class="tags fade-in-left">
  <vs-tag text="html" class="tag-1"></vs-tag>
  <vs-tag text="body" class="tag-2"></vs-tag>
  <vs-tag text="h1" class="tag-3"></vs-tag>
</div>

<h1>
  <span class="phone-invisible">{{'label.hi' | translate}}</span>
  <span class="wrapper phone-invisible">{{'label.iAm' | translate}}<span #name class="writer"></span></span>

  <span class="phone-visible">{{'label.hi' | translate}} {{'label.iAm' | translate}}</span>
  <span #nameMobile class="writer phone-visible"></span>

  <span>{{'label.fullStackDeveloper' | translate}}</span>
</h1>

<vs-tag text="h1" [isClosing]="true"></vs-tag>

<vs-button (buttonClick)="sendEmail()">{{'label.contactMe' | translate}}</vs-button>

<img class="background" src="/assets/images/hero-background.png" alt="Background">
