@use "../../scss/variables" as variables;

:host {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 80px;
  gap: 32px;

  @media #{variables.$m-phone} {
    margin-top: 60px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  margin: 0;

  span {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--white);

    @media #{variables.$xs-desktop} {
      font-size: 70px;
    }

    @media #{variables.$tablet} {
      font-size: 60px;
    }

    @media #{variables.$phone} {
      font-size: 38px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .writer {
    font-family: "Betterlett", sans-serif;
    color: var(--accent);
  }
}

.phone {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  transition: color 0.2s;

  span {
    color: var(--accent);
    cursor: pointer;

    &:hover {
      color: var(--purple);
    }
  }

  @media #{variables.$phone} {
    font-size: 22px;
  }
}

.email {
  width: 900px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);

  @media #{variables.$m-phone} {
    width: 95%;
  }

  @media #{variables.$phone} {
    font-size: 22px;
  }

  span {
    color: var(--accent);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--purple);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ending-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{variables.$m-phone} {
    flex-direction: column;
    align-items: flex-start;
  }
}

vs-button {
  width: 240px;
  align-self: flex-end;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .tag {
    align-self: flex-end;
  }
}

.tag-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .tag {
    margin-left: 40px;
  }

  @media #{variables.$m-phone} {
    order: 1;
  }
}
