@if (!isBroadcaster) {
  @if (!isUnlocked) {
    <vs-input
      label="streamPassword"
      placeholder="enterStreamPassword"
      name="streamPassword"
      [required]="true"
      [noMargin]="true"
      [maxlength]="20"
      [pattern]="'^[a-zA-Z0-9-]+$'"
      [(ngModel)]="streamPassword">
    </vs-input>

    <vs-button
      color="primary"
      [disabled]="!streamPassword"
      (click)="unlockStream()">
      <span>Unlock stream</span>
    </vs-button>
  } @else {
    You're watching the stream!

    <video #videoPlayer autoplay playsinline></video>
  }

} @else {
  You're hosting the stream!

  <video #videoPlayer autoplay playsinline></video>
}
